*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(27,48,64,1) 0%, rgba(0,0,0,1) 100%)
}

.container{
    /* border: 1px solid red; */
    padding: 5px;
    background: radial-gradient(circle, rgba(238,174,238,1) 0%, rgba(148,187,233,1) 100%);
    padding: 3rem;
    border-radius: 0.3rem;
}

.passwordSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    padding: 20px;
    gap: 20px;
    border-radius: 15px 15px 0px 0px;
    display: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255,0.3);
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0) ;


}
.passwordSection input{
    background-color: transparent;
    border-radius: 10px;
    font-size: 2rem;
    outline: none;
    border: none;
    
    
}

.passwordSection i{
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px;


}
.passwordSection i:hover{
    cursor: pointer;
    transform: translateY(2px);


}
.passwordSection div{
    background-color: green;
    height: 1rem;
    width: 5;
}

.sec1{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    
}

.rangesection{
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(255, 255, 255,0.3);
    padding: 1rem;
    border-radius: 10px;
}

.lengthinput{
    border-radius: 10px;
    text-align: center;
    height: 2rem;
    width: 3rem;
    margin-right: 1rem;
    /* box-shadow: 1px 1px 0px 0px  inset; */
    outline: none;
    font-size: large;
    font-weight: 600;   
    border: 1px solid #000;
    background-color: rgb(255, 255, 255,0.3);


}

.heading{
    font-size: 2rem;
    font-weight:700;
    padding-bottom: .4rem;
    border-bottom: 2px solid rgb(228, 226, 226);
    margin-bottom: 3rem;
}

.range{
    width: 20rem;
}
.rightsection{
    display: flex;
    justify-content: space-around;
}
.rightsection div{
    display: flex;
    justify-content: center;
}
.rightsection div label{
    padding-right: 5px;
    color: rgb(0, 0, 0);
}
