* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: rgb(255, 255, 255);
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-bottom: 3rem;
}

.logoimage {
  width: 7vh;
  mix-blend-mode: multiply;
  filter: contrast(1.5);
}

.right > nav > ul {
  display: flex;
  justify-content: space-between;
}

.right > nav > ul > li {
  list-style-type: none;
  padding: 0px 10px;
  list-style: none;
  color: black;
}

.right > nav > ul > li > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.right > nav > ul > li:hover {
  transform: translateY(-1px);
  font-weight: 500;
}

/* body css */
.image > img {
  margin-bottom: 1rem;
  width: 9vw;
}

.card {
  border: 1px solid black;
  width: 10vw;
  padding: 5px;
  margin: 3rem;
  border-radius: 0.3rem;
}
.startime {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
