body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column ;
    
}

div{
    /* border: solid 1px ; */
    /* margin: 10px; */
    width: 250px;
    

}

.scoreclass {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    /* margin: 40px;/ */
}

.diceclass{
    font-size: 15px;
    /* font-weight: 900; */
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    margin: 10px;
}
.users{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    

}

.users p {
    margin: auto;
    font-size: 12px;
    padding: 10px;
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    text-transform: uppercase;

}

.userOne, .userTwo{
    font-weight: 900;
    text-transform: uppercase;

}

.btn, .reset{
    border: solid 1px rgb(0, 0, 0);
    color: black;
    background: none;
    padding: 10px 108px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 5px;
}
.btn:hover{
    background: rgb(168, 255, 165);
    color: rgb(255, 255, 255);
}

.reset:hover{
    background: rgb(255, 199, 199);
    color: rgb(255, 255, 255);
}
p{
    text-transform: uppercase;

}