
*{
    /* text-align: center; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(/bg.jpg);
    background-size: cover;
    /* display: flex; */
    margin: 110px 0px;
    padding: 0px;
    /* position: relative; */
}
.fa-dumbbell{
    transform: rotate(145deg);
}
.fa-dumbbell, .fa-calendar-days{
    font-size: 20px;
}
.myButton {
    z-index: infinite;
	box-shadow: 6px 6px 8px -3px #fcfcfc;
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
	border-radius:18px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	box-shadow:1px 0px 5px 2px #ffffff;
	text-shadow:-0px -1px -#fcfcfc #fffafa;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
    color: rgb(255, 255, 255);
    border: none;
}
.myButton:active {
	position:relative;
	top:1px;
}
.header{
    z-index: 1;
    left: -0px;
    top: 0px;
    position: absolute;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 10px 5px;
    height: 15vmin;
    width: 100%;
    color: white;
    padding: 3vmin 10px;
    animation: customAni 2s ease 0s 1 normal none;

}
.header>pre{
    font-family: Fjalla One;
    text-align: center;
    
}

.container{
    margin: 20px;
    margin: 0px;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: space-evenly;
    flex: 3;
    flex-wrap: wrap;
    gap: 2rem;
}
.container>div{
    width: 60vmin;
    height: 40vmin;
    border:1px solid black;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    animation: customAni 2s ease 0s 1 normal none;

    
}

p:first-child{
    font-family: Fjalla One;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #000000;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    color: white;
    
}
p:nth-child(2){
    font-size:30px ;
    font-weight:lighter;
    font-family: poppins;
    text-align: center;
    color: black
    
}
p:nth-child(3){
    text-align: center;
    font-family: Noto Sans;
    font-size: 80px;
    
}
.hide{
    display: none;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vmin;
    top: 0px;
    position:absolute;
    background-color: black;;
    width: 100wh;
    height: 100vh;
}
.msg p{
    animation: customAni 4s ease 0s 1 normal none;
    font-family: poppins;

}
@keyframes customAni {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-245px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  