*{
margin: 0px;
padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin: px; */
    padding: 10px 10px;

    
}
.profile {
    z-index: -0;
    width: 100px;
    border-radius: 100% 150%;
    margin-bottom: 20px;
}

.jobtitile,.id{
    z-index: 5;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 
}
.author{
    padding:10px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.buttons button{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    color: black;
    background:  rgba(255, 255, 255, 0.4);
    border: none;
    border-radius:20px
}
 .randombutton {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    color: black;
    background:  #ffffff66;
    border: none;
    border-radius:20px
}
 /* .blank {
    width: 100px;
    height: 100px;
    background-color: rgb(22, 205, 211);
    position: absolute;
   border-radius: 100px 180px 130px;
    top: 110px;

 } */